<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
	<p>
		<button type="button" id='create' class="btn btn-default"> 创 建  </button>
		<button type="button" id='status' class="btn btn-default"> 状 态  </button>
		<button type="button" id='list'   class="btn btn-default"> 列 表  </button>
	</p>                                                                
	<p>                                                                 
		<button type="button" id='start'  class="btn btn-default"> 继 续  </button>
		<button type="button" id='stop'   class="btn btn-default"> 暂 停  </button>
		<button type="button" id='result' class="btn btn-default"> 结 果  </button>
	</p>
	<p>                                                                 
		<button type="button" id='price'  class="btn btn-default"> 更 新 价 格  </button>
		<button type="button" id='priceStatus' class="btn btn-default"> 更 新 状 态  </button>
	</p>
	<p> 
		<button type="button" id='priceStart'  class="btn btn-default"> 继 续 更 新  </button>
		<button type="button" id='priceStop'   class="btn btn-default"> 暂 停 更 新  </button>
	</p>
	<p> 
		<button type="button" id='info'  class="btn btn-default"> 处 理 信 息  </button>
		<button type="button" id='handler'  class="btn btn-default"> 处 理 方 式  </button>
	</p>
	
	<p> 
		<button type="button" id='productInfo'  class="btn btn-default"> 分 析 结 果  </button>
	</p>

	<p> 
		<button type="button" id='getProxy'  class="btn btn-default"> 获 取 代 理  </button>
		<button type="button" id='stopGetProxy'  class="btn btn-default"> 停 止 获 取  </button>
		<button type="button" id='testProxy'  class="btn btn-default"> 检 测 代 理  </button>
	</p>
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

<script type="text/javascript">
$(function(){
	buttonInit();
})

function buttonInit(){
	$("#stopGetProxy").click(function(){
	    $.ajax({url:"proxy/stop",success:function(result){
	    	console.info(result);
	    	alert("已停止");
	    }});
	});
	$("#getProxy").click(function(){
	    $.ajax({url:"proxy/getKuaiDaiLi?pageNum=100",success:function(result){
	    	console.info(result);
	    	alert("正在获取代理");
	    }});
	});
	$("#testProxy").click(function(){
	    $.ajax({url:"proxy/testProxy",success:function(result){
	        console.info(result);
	        alert("正在测试代理");
	    }});
	});
	$("#create").click(function(){
	    $.ajax({url:"jingdong?jobName=获取商品",success:function(result){
	        console.info(result);
	        alert("创建成功");
	    }});
	});
	$("#status").click(function(){
	    $.ajax({url:"getStatus?jobName=获取商品",success:function(result){
	        console.info(result);
	        alert("信息："+result.message+"\n目前状态："+result.running+"\n目前总数："+result.totalRequestsCount+"\n队列数目："+result.leftRequestsCount);
	    }});
	});
	$("#start").click(function(){
		console.info("start");
	    $.ajax({url:"start?jobName=获取商品",success:function(result){
	        console.info(result);
	        if(result.message){
	        	alert(result.message);
	        }else{
	        	alert("已开始");
	        }
	    }});
	});
	$("#stop").click(function(){
	    $.ajax({url:"stop?jobName=获取商品",success:function(result){
	        console.info(result);
	        if(result.message){
	        	alert(result.message);
	        }else{
	        	alert("已暂停");
	        }
	    }});
	});
	$("#list").click(function(){
		console.info("list");
	    $.ajax({url:"list",success:function(result){
	        console.info(result);
	        alert("目前列表："+result);
	    }});
	});
	$("#result").click(function(){
		window.location.href="product";
	});
	$("#productInfo").click(function(){
		window.location.href="productInfo";
	});
	$("#price").click(function(){
	    $.ajax({url:"updatePrice?jobName=更新价格",success:function(result){
	        console.info(result);
	        alert("开始更新价格");
	    }});
	});
	$("#priceStart").click(function(){
		console.info("start");
	    $.ajax({url:"start?jobName=更新价格",success:function(result){
	        console.info(result);
	        if(result.message){
	        	alert(result.message);
	        }else{
	        	alert("已开始");
	        }
	    }});
	});
	$("#priceStop").click(function(){
	    $.ajax({url:"stop?jobName=更新价格",success:function(result){
	        console.info(result);
	        if(result.message){
	        	alert(result.message);
	        }else{
	        	alert("已暂停");
	        }
	    }});
	});
	$("#priceStatus").click(function(){
	    $.ajax({url:"getStatus?jobName=更新价格",success:function(result){
	        console.info(result);
	        alert("信息："+result.message+"\n目前状态："+result.running+"\n目前总数："+result.totalRequestsCount+"\n队列数目："+result.leftRequestsCount);
	    }});
	});
	$("#info").click(function(){
	    $.ajax({url:"info",success:function(result){
	        console.info(result);
	        alert("处理完成");
	    }});
	});
	$("#handler").click(function(){
		window.location.href="handlerList";
	});
}

</script>