<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

    <title>产品列表</title>
  </head>
  <body>
    <table class="table">
  <caption>基本的表格布局</caption>
  <thead>
    <tr>
      <!-- <th>序号</th> -->
      <!-- <th>货号</th> -->
      <th>名称</th>
      <th>价格</th>
      <th>店名</th>
    </tr>
  </thead>
  <tbody>
  
	<tr th:each="product:${data}">
		<!-- <td th:text="${productStat.count}">1</td> -->
		<!-- <td th:text="${product.sku}">Red Chair</td> -->
		<td><a href="https://item.jd.com/6080600.html" target="_blank" th:href="@{'https://item.jd.com/'+${product.sku}+'.html'}"  th:text="${product.name}">Red Chair</a></td>
		<td th:text="${product.price}">Red Chair</td>
		<td th:text="${product.shopName}">Red Chair</td>	
	</tr>
  </tbody>
</table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>